@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-diagonal {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  }
}

@layer base {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}